include VERSION
include LICENSE
include README.md
include changelog.md
include requirements.txt
include requirements_tests.txt

recursive-include src *.py
recursive-include tests/simple_data *
include tests/__init__.py

prune tests/out_*
prune .claude
prune .github
global-exclude __pycache__
global-exclude *.py[cod]
