name: Short runs

on:
  workflow_dispatch:
  push:
    branches: [ "master", "sc_*" ]
  pull_request:
    branches: [ "master" ]

env:
  RUN_NAME: Human.ONT_simulated.R9.uniform_cov
  LAUNCHER: ${{github.workspace}}/tests/github/run_pipeline.py
  CFG_DIR: /abga/work/andreyp/ci_isoquant/data
  BIN_PATH: /abga/work/andreyp/ci_isoquant/bin/
  OUTPUT_BASE: /abga/work/andreyp/ci_isoquant/output/${{github.ref_name}}/

concurrency:
  group: ${{github.workflow}}
  cancel-in-progress: false

jobs:
  integration-tests:
    runs-on:
      labels: [isoquant]
    name: 'IsoQuant toy dataset runs'

    steps:
      - name: 'Cleanup'
        run: >
          set -e &&
          shopt -s dotglob &&
          rm -rf *

      - name: 'Checkout'
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Run integration tests
        run: |
          export PATH=$PATH:${{env.BIN_PATH}}
          pytest-3 tests/console_test.py -v
