name: Short runs

on:
  workflow_dispatch:
  push:
    branches: [ "master", "sc_*" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  integration-tests:
    runs-on:
      labels: [isoquant]
    name: 'IsoQuant toy dataset runs'

    steps:
      - name: 'Cleanup'
        run: >
          set -e &&
          shopt -s dotglob &&
          rm -rf *

      - name: 'Checkout'
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Run integration tests
        run: |
          pytest-3 tests/console_test.py -v
