name: YAML tests

on:
  workflow_dispatch:
  schedule:
  - cron: '0 6 * * 3,6'

env:
  RUN_NAME: Resume_tests
  LAUNCHER: ${{github.workspace}}/tests/github/run_pipeline.py
  CFG_DIR: /abga/work/andreyp/ci_isoquant/data
  BIN_PATH: /abga/work/andreyp/ci_isoquant/bin/
  OUTPUT_BASE: /abga/work/andreyp/ci_isoquant/output/${{github.ref_name}}/

jobs:
  launch-runner:
    runs-on:
      labels: [self-hosted]
    name: 'Running IsoQuant and QC'

    concurrency:
      group: $RUN_NAME
      cancel-in-progress: false

    steps:
      - name: 'Cleanup'
        run: >
          set -e &&
          shopt -s dotglob &&
          rm -rf *

      - name: 'Checkout'
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: 'YAML file with 1 experiment and 4 samples'
        if: always()
        shell: bash
        env:
          STEP_NAME: YAML1.4SAMPLES.SIRVs.R10
        run: |
          export PATH=$PATH:${{env.BIN_PATH}}
          python3 ${{env.LAUNCHER}} ${{env.CFG_DIR}}/${{env.STEP_NAME}}.cfg -o ${{env.OUTPUT_BASE}}

      - name: 'YAML file with 2 experiments with 2 samples each'
        if: always()
        shell: bash
        env:
          STEP_NAME: YAML2.2x2SAMPLES.SIRVs.R10
        run: |
          export PATH=$PATH:${{env.BIN_PATH}}
          python3 ${{env.LAUNCHER}} ${{env.CFG_DIR}}/${{env.STEP_NAME}}.cfg -o ${{env.OUTPUT_BASE}}

